<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <!--<h1>About.html Page</h1>-->
    <h1>{{title}}</h1>
    <img src="/photo/SUJITH S.jpg" alt="">
    <p>Created by {{name}}</p>
</body>

</html>