<!DOCTYPE html>
<html>

<head>
    <title>About</title>
     <link rel="icon" href="/photo/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <div class="main-content">
    {{>header}}

    <!--<h1>About.html Page</h1>-->
    <!-- <h1>{{title}}</h1> -->
    <img src="/photo/SUJITH S.jpg" class="portrait" alt="">

    </div>

    {{>footer}}
   <!-- <p>Created by {{name}}</p> -->
</body>

</html>