<!DOCTYPE html>
<html>

<head>
    <title>About</title>
     <link rel="icon" href="/photo/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <div class="main-content">
    {{>header}}  
    <img src="/photo/SUJITH S.jpg" class="portrait" alt="">
    </div>

    {{>footer}}
</body>

</html>
